.header-default {
    background-color: #0959aa; /* Default blue color */
}

.header-colorScheme1 {
    background-color: #ff0000; /* Red for color scheme 1 */
}

.header-colorScheme2 {
    background-color: #00ff00; /* Green for color scheme 2 */
}

.header-colorScheme3 {
    background-color: black; /* Green for color scheme 2 */
}


.your-color-scheme-class {
    background-color:black; /* New color */
}
