  <div class="menu-container">
    <div class="row">
      <h1>Main Menu</h1>
    </div>
    <ul class="menu-list">
      <li routerLink="/eventForm"><i class="bi bi-folder" style="width: 10%; height: 100%; font-size: 35px;"></i> Manage Projects</li>
      <!-- TODO: CHANGE THE LINK TO THE RIGHT SYNC PAGE -->
      <li routerLink="/sync"><i class="bi bi-arrow-repeat" style="width: 10%; height: 100%; font-size: 35px;"></i> Sync Projects</li>
      <li><i class="bi bi-list-task" style="width: 10%; height: 100%; font-size: 35px;"></i> View User Activity Logs</li>
      <li routerLink="/webcolor"><i class="bi bi-eyedropper" style="width: 10%; height: 100%; font-size: 35px;"></i> Change Website Color</li>
    </ul>
  </div>