<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View TOAs</title>
</head>
<body>
    <table>
        <tr>
            <th>Action</th>
            <th>Team</th>
            <th>Icon</th>
        </tr>
        {% for toa in toas %}
            <tr>
                <td>{{ toa['team']}}</td>
                <td>{{ toa['actionName']}}</td>
                <td><img src="{{ url_for('file', filename=toa['iconFilename']) }}" alt=""></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>