
    
        <div class="contents" style="width: 100%; padding: 80px; padding-top: 10px;">
            <h2><i class="bi bi-arrow-repeat" style="width: 10%; height: 100%; font-size: 60px; color: #007bff;"></i>  Create Sync Request</h2>
            <div>
                <p>Enter a destination IP Address</p>
                <form>
                    <label for="ipAddress">IP Address* <i>(required)</i></label><br>
                    <input type="text" placeholder="0.0.0.0"><br>
                </form>
            </div>
            <br>
            <div>
                <form>
                    <p>Select the projects you want to send to the destination IP Address<p>
                    <label for="projectList">Projects* <i>(required)</i></label><br>

                    <input type="checkbox" id="projectA" name="Project A" value="project A">
                    <label for="projectA"> Project A</label><br>
                    <input type="checkbox" id="projectB" name="Project B" value="project B">
                    <label for="projectB"> Project B</label><br>
                    <input type="checkbox" id="projectC" name="Project C" value="project C">
                    <label for="projectC"> Project C</label><br>
                    <input type="checkbox" id="projectD" name="Project D" value="project D">
                    <label for="projectD"> Project D</label><br>
                </form>
            </div>
            <div class="buttons">
                <button class="primary" type="button">Cancel</button>
                <button class="primary" type="button">Sync</button>
            </div>
        </div>

