
.container {
  background-color: lightgray;
  color: black;
//   margin: 0px;
//   padding: 50px;
}
.contents{
    background-color: white;
    color: black;
    // margin: 20px;
    // padding: 20px;
    align-items: center;
}
.buttons{
    margin: 20px;
    align-items: right;
}