
    <div class="container">
        <img src="assets/images/World_Wide_web.png" alt="Web Icon" class="Web-world">
        <a>Sync Projects</a>

        <div class="additional-text">
            Enter an IP Address of your computer to use. <br>
            Use 0.0.0.0 to refer to all IP Addresses of your computer.
        </div>
        <div style="display: flex; height: 100%; margin-top: 20px;">
            <input class="IPtext" type="textarea" style=" margin-left: -100px; width: 600px;" type="text" placeholder="Enter IP Address Here">
            <button class="primary" type="button"  routerLink="/sync/request">Confirm</button>
        </div>
        <!-- <img src="assets\images\Blank Saver Terry.jpg" alt="Blank Space" class="Blank-Saver"> -->
    </div>
